{% extends "base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}

<div class="login-container">

    <!-- PANEL IZQUIERDO -->
    <div class="login-left">

        <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            class="login-logo"
        >

        <h1 class="login-title">
            Gestor de Emergencias
        </h1>

        <p class="login-subtitle">
            Plataforma de gestión integral para
            policía, bomberos y asistencia sanitaria.
        </p>

    </div>

    <!-- LOGIN -->
    <div class="login-card">

        <h2 class="login-card-title">
            Iniciar sesión
        </h2>

        <form method="POST">

            <div class="mb-4">

                <label class="form-label">
                    Email
                </label>

                <input
                    type="email"
                    name="email"
                    class="form-control modern-input"
                    value="{{ request.form.email }}"
                    required
                >

            </div>

            <div class="mb-4">

                <label class="form-label">
                    Contraseña
                </label>

                <input
                    type="password"
                    name="password"
                    class="form-control modern-input"
                    required
                >

            </div>

            <button class="btn login-btn w-100">

                <i class="bi bi-box-arrow-in-right me-2"></i>

                Entrar

            </button>

        </form>

    </div>

</div>

{% endblock %}